.T1 {
  color: green;
}

.T2 {
  color: red;
}

.T3 {
  color: blue;
}

.T4 {
  color: orange;
}

.T5 {
  color: purple;
}

.T6 {
  color: magenta;
}

.divStartButton {
  padding-top: 30px;
  padding-bottom: 30px;
}

.small {
  font-size: 10pt;
  padding: 3px !important;
  opacity: 0.9;
}

div.well-edit {
  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 0px 3px 3px 500em rgba(0,0,0,0.25);
  z-index: 10;
}

div.well-hidden {
  opacity: 0 !important;
  margin: 0 auto !important;
  padding: 0 19px !important;
  max-height: 0 !important;
  min-height: 0 !important;
  border: 0px solid #e3e3e3 !important;
}

div.well {
  border-radius: 4px;
  border: 1px solid #888;
  padding: 2em;
  display: block;
  opacity: 1;
  width: 90%;
  min-width: 30em;
  margin: 0 auto 2em auto;
  background-color: #fff !important;
  overflow: hidden !important;
  transition:
    opacity 300ms ease-in-out,
    min-height 300ms linear,
    max-height 300ms linear,
    padding 150ms linear,
    margin 150ms linear,
    border 150ms linear;
}

select.form-control {
  width: 5.5em !important;
  display: inline !important;
}

input.form-control {
  width: 3em !important;
  display: inline !important;
}

.form-control {
  vertical-align: middle !important;
}

div.row {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

span input {
  width: 3em;
  text-align: center;
}

td.op {
  text-align: center;
}
